/* 
    Document   : ie8
    Created on : Feb 11, 2014, 3:05:52 PM
    Author     : tonylee
    Description:
        Purpose of the stylesheet follows.
*/

.twitter-typeahead{
    border: 1px solid #CCCCCC;
}
.liep-compdate{
    width: 200px;
}