/* 
    Document   : liep
    Created on : Jan 22, 2014, 11:49:12 PM
    Author     : Tony Lee<var.tonylee@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/
root {
    display: block;
}
.footer {
    margin-top: 20px;
    text-align: center;
}
.navbar-brand {
    color: #FFFFFF !important;
    font-size: 20px;
    margin-right: 50px;
}
.navbar-fixed-top{
    position: relative;
}
.sub-menu .nav-tabs > li > a{ 
    color: #666666 !important;
}
.sub-menu .nav-tabs > li.active > a, 
.sub-menu .nav-tabs > li.active > a:hover, 
.sub-menu .nav-tabs > li.active > a:focus{
    color: #3399F3 !important;
}
.datepicker {
    width: 224px;
}
.footer-marginer{
    margin-bottom: 200px;
    padding-left: 15px;
    padding-right: 15px;
}
.tags {
    margin-bottom: 5px;
}
.tags:hover{
    color: #3399F3;
}
.add-stream{
    margin-bottom: 50px;
    margin-top: 10px;
}
.stream-wrapper{
    margin-bottom: 10px;
}
.breadcrumb {
    margin-bottom: 20px;
    padding: 0;
    background-color: #FFFFFF;
}
.breadcrumb h4{
    color: #777777;
}
.puser-alink{
    cursor: pointer;
}
tr.no {
    text-decoration: line-through;
    color: #D9534F;    
}
tr.yes {
    text-decoration:none;
}
.glyphicon-eye-close{
    color: #D9534F;
}