/* 
    Document   : liep
    Created on : Jan 22, 2014, 11:49:12 PM
    Author     : Tony Lee<var.tonylee@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/
root {
  display: block;
}
.footer {
  margin-top: 20px;
  text-align: center;
}
.navbar-brand {
  color: #ffffff !important;
  font-size: 20px;
  margin-right: 50px;
}
.navbar-fixed-top {
  position: relative;
}
.sub-menu .nav-tabs li a {
  color: #666666 !important;
}
.sub-menu .nav-tabs li.active a,
.sub-menu .nav-tabs li.active a:hover,
.sub-menu .nav-tabs li.active a:focus {
  color: #3399f3 !important;
}
.navbar-right li.user a,
.navbar-right li.user a:hover,
.navbar-right li.user a:focus {
  color: #ffffff !important;
}
.datepicker {
  width: 224px;
}
.footer-marginer {
  margin-bottom: 200px;
  padding-left: 15px;
  padding-right: 15px;
}
.tags {
  margin-bottom: 5px;
  padding: 6px 12px;
}
.tags:hover {
  color: #000000;
}
.add-stream {
  margin-bottom: 50px;
  margin-top: 10px;
}
.skills-wrapper,
.stream-wrapper {
  margin-bottom: 10px;
}
.breadcrumb {
  margin-bottom: 20px;
  padding: 0px;
  background-color: #ffffff;
}
.breadcrumb h4 {
  color: #777777;
}
.puser-alink {
  cursor: pointer;
}
.table .glyphicon {
  font-size: 17px;
}
tr[role="no"] {
  text-decoration: line-through;
  color: #d9534f;
}
tr[role="yes"] {
  text-decoration: none;
}
tr[role="no"] .glyphicon {
  color: #d9534f;
}
.dead-stream h4 {
  color: #999999;
}
#skills .panel-collapse {
  margin-bottom: 100px;
}
.skills-tip {
  font-size: 12px;
  margin-bottom: 10px;
  color: #d43f3a;
}
.dropdown-menu {
  min-width: 120px;
}
.tt-dropdown-menu {
  background-color: #F0F0F0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 1px;
  padding: 8px 0;
  width: 100%;
}
.tt-suggestion {
  font-size: 20px;
  line-height: 18px;
  padding: 3px 19px;
}
.tt-suggestion p {
  font-size: 13px;
  margin: 0 0 3px;
}
.tt-suggestion:hover,
.tt-suggestion:focus {
  background-color: #3399f3;
}
.tt-suggestion.tt-cursor {
  background-color: #3399f3;
  color: #ffffff;
}
.typeahead {
  background-color: #ffffff;
}
.tt-hint {
  color: #c6c6c6;
}
.twitter-typeahead {
  width: 100%;
}
.tags.btn-default:hover {
  color: #61dd45;
}
.save-pdf {
  cursor: pointer;
}
#participant-list .tip {
  color: #999999;
  clear: both;
  float: left;
  font-size: 12px;
}
label.text-left {
  text-align: left !important;
}
.mandatory {
  color: #FF0000;
  display: inline-block;
  width: 10px;
}
.tag-action {
  padding: 5px;
  margin: 0px;
}
button.tags.edit {
  cursor: default;
}
button.tags.edit:hover {
  color: #FFFFFF;
}
.tag-del,
.tag-edit {
  cursor: pointer;
}
#myTable .header {
    background-color: #e6eeee;
    background-image: url("../img/sorter.png");
    background-position: 3px 9px;
    background-repeat: no-repeat; 
    cursor: pointer;
    padding-left: 15px;
}
#myTable .headerSortDown {
    background-position: 3px -77px;
}
#myTable .headerSortUp {
    background-position: 3px -37px;
}
.dashboard-panel .panel-body{ 
    padding: 0 15px;
}
.dashboard-panel .auth-button {
    padding: 8px;
}
.dashboard-search-bar{
    margin: 15px;
}
.panel-title .glyphicon{ color: #999999; }

.glyphicon-calendar.selected{
    color:#FF33CC
}
.active .glyphicon-th-list,
.glyphicon-th-list.selected{
    color:#FFFF00
}
.active .glyphicon-th,
.glyphicon-th.selected{
    color:#00FF00
}
.pager .glyphicon{ cursor: pointer; }
@media print {
  .no-print {
    display: none !important;
  }
}
