/* 
    Document   : liep
    Created on : Jan 22, 2014, 11:49:12 PM
    Author     : Tony Lee<var.tonylee@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

// ------ Define Color Code -------------//
@color-white:       #FFFFFF;
@color-block:       #000000;
@color-666:         #666666;
@color-ccc:         #CCCCCC;
@color-999:         #999999;
@color-navbar:      #3399F3;
@color-table:       #D9534F;
@color-breadcrumb:  #777777;
@color-alert:       #D43F3A;    
@color-success:     #61DD45;
@color-c6:          #C6C6C6;
@color-red:         #FF0000;

// ------ Define Basic Items -------------//
@base-padding:      15px;
@base-margin:       20px;

root {
    display: block;
}
.footer {
    margin-top: @base-margin;
    text-align: center;
}
.navbar-brand {
    color: @color-white !important;
    font-size: 20px;
    margin-right: @base-margin + 30;
}
.navbar-fixed-top{
    position: relative;
}

.sub-menu .nav-tabs{
    li{
        a { color: @color-666 !important;}
    }
    li.active{
        a, a:hover, a:focus{color: @color-navbar !important;}
    }
}
.navbar-right{
    li.user{
         a, a:hover, a:focus{color: @color-white !important;} 
    }
}

.datepicker {
    width: 224px;
}
.footer-marginer{
    margin-bottom: (@base-margin * 10);
    padding-left: @base-padding;
    padding-right: @base-padding;
}
.tags {
    margin-bottom: @base-margin - 15;
    padding: 6px 12px;
}
.tags:hover{
    color: @color-block;
}
.add-stream{
    margin-bottom: @base-margin + 30;
    margin-top: @base-margin - 10;
}
.skills-wrapper,
.stream-wrapper{
    margin-bottom: @base-margin - 10;
}
.breadcrumb {
    margin-bottom: @base-margin;
    padding: @base-padding - 15;
    background-color: @color-white;
}
.breadcrumb h4{
    color: @color-breadcrumb;
}
.puser-alink{
    cursor: pointer;
}
.table .glyphicon{
    font-size: 17px; 
}
tr[role="no"]{
    text-decoration: line-through;
    color: @color-table;
}
tr[role="yes"] {
    text-decoration:none;
}
tr[role="no"] .glyphicon{
    color: @color-table;
}
.dead-stream{
    h4{
        color:@color-999;
    }
}

#skills{
    .panel-collapse{
        margin-bottom: 100px;
    } 
}
.skills-tip{
    font-size:12px;
    margin-bottom: @base-margin - 10;
    color: @color-alert;
}
.dropdown-menu{
    min-width : 120px;   
}

.tt-dropdown-menu {
    background-color: #F0F0F0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 1px;
    padding: 8px 0;
    width: 100%;
}
.tt-suggestion {
    font-size: 20px;
    line-height: 18px;
    padding: 3px 19px;
    
    p{
        font-size:13px;
        margin: 0 0 3px;
    }

    &:hover, &:focus{
        background-color: @color-navbar; 
    }
}

.tt-suggestion.tt-cursor {
    background-color: @color-navbar;
    color: @color-white;
}

.typeahead {
    background-color: @color-white;
}
.tt-hint{
    color: @color-c6;
}
.twitter-typeahead {
    width: 100%;
}
.tags.btn-default:hover{
    color: @color-success;
}
.save-pdf{
    cursor: pointer;
}
#participant-list .tip{
    color:  @color-999;
    clear: both;
    float: left;
    font-size: 12px;
}
label.text-left{
    text-align:left !important;
}
.mandatory{
    color: #FF0000;
    display: inline-block;
    width: 10px;
}
.tag-action{
    padding: 5px;
    margin:0px;
}
button.tags.edit{
    cursor: default;
}
button.tags.edit:hover{
    color: #FFFFFF;
}
.tag-del,
.tag-edit{
    cursor: pointer;
}
#myTable{
    .header{
        background-color: #E6EEEE;
        background-image: url("../img/sorter.png");
        background-position: right 15px;
        background-repeat: no-repeat;
        cursor: pointer;
        padding-right: 15px;
    } 
    .headerSortDown{
         background-position: right -9px;
    }
    .headerSortUp{
        background-position: right -34px;
    }
}
.dashboard-panel{ 
    padding: 0 15px;
}
@media print
{    
    .no-print
    {
        display: none !important;
    }
}